.custom-card {
    background: linear-gradient(135deg, #e0f7fa, #254636); /* Dodajemy tło gradientowe */
    border-radius: 10px; /* Zaokrąglamy rogi */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Dodajemy cień */
    width: 100%; /* Szerokość karty */
    max-width: 500px; /* Maksymalna szerokość */
    margin: 0 auto; /* Wyrównanie karty na środku */
    padding: 20px; /* Padding wewnętrzny */
    color: #fff; /* Ustawiamy biały kolor tekstu */
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #254636; /* Kolor przycisku */
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #1b3a32; /* Ciemniejszy kolor przycisku przy hover */
  }
  