<div class="container mt-5">
  <!-- Karta formularza z gradientem -->
  <div class="card task-form-card">
    <div class="card-body">
      <h5 class="card-title text-white text-center mb-4">Nowe zadanie</h5>
      <div class="mb-4">
        <label for="taskName" class="form-label text-white">Treść zadania</label>
        <input type="text" class="form-control" id="taskName" placeholder="Wpisz nazwę zadania" #taskName>

        <label for="taskDescription" class="form-label mt-3 text-white">Opis</label>
        <!-- Zmiana inputa na textarea -->
        <textarea class="form-control" id="taskDescription" rows="4" placeholder="Wpisz opis zadania" #taskDescription></textarea>

        <label for="taskDate" class="form-label mt-3 text-white">Data</label>
        <input type="date" class="form-control" id="taskDate" #taskDate>

        <label for="taskPriority" class="form-label mt-3 text-white">Priorytet</label>
        <select class="form-select" id="taskPriority" #taskPriority>
          <option [value]="1">Priority 1</option>
          <option [value]="2">Priority 2</option>
          <option [value]="3">Priority 3</option>
          <option [value]="4">Priority 4</option>
        </select>
      </div>

      <!-- Przycisk dodania zadania -->
      <div class="d-flex justify-content-center">
        <button
          class="btn btn-light"
          (click)="addTask(taskName.value, taskDescription.value, taskDate.value, taskPriority.value)"
        >
          Dodaj zadanie
        </button>
      </div>
    </div>
  </div>
</div>
