<div class="mb-4">
  <label for="taskName" class="form-label">Nowe zadanie</label>
  <input type="text" class="form-control" id="taskName" placeholder="Wpisz nazwę zadania" #taskName>

  <label for="taskDescription" class="form-label mt-3">Opis</label>
  <input type="text" class="form-control" id="taskDescription" placeholder="Wpisz opis zadania" #taskDescription>

  <label for="taskDate" class="form-label mt-3">Data</label>
  <input type="date" class="form-control" id="taskDate" #taskDate>

  <label for="taskPriority" class="form-label mt-3">Priorytet</label>
  <select class="form-select" id="taskPriority" #taskPriority>
    <option value="1">Priority 4</option>
          <option value="2">Priority 3</option>
          <option value="3">Priority 2</option>
          <option value="4">Priority 1</option>
  </select>
</div>

<div class="d-flex justify-content-center">
  <button
    class="btn btn-success"
    (click)="addTask(taskName.value, taskDescription.value, taskDate.value, taskPriority.value)"
  >
    Dodaj zadanie
  </button>
</div>
