<div class="task-list-container container mt-5">
  <h2 class="title text-center mb-4">Lista zadań Todoist</h2>

  <ul class="list-group mb-4">
    @for (task of tasks(); track task.id) {
      
      <li
      class="list-group-item d-flex justify-content-between align-items-center border-0 rounded shadow-sm mb-2"
      appDragAndDrop
      [attr.data-index]="task.id"
      (taskReordered)="onTaskReordered($event)"
      draggable="true"
      
    >  <button
    class="btn"
    [ngClass]="{
      'btn-success': task.status === 'Done',
      'btn-outline-secondary': task.status !== 'Done'
    }"
    (click)="changeStatus({ taskId: +task.id, status: task.status === 'Done' ? 'Pending' : 'Done' })"
  >
    {{ task.status === 'Done' ? 'Done' : 'Mark as Done' }}
  </button>
    
        <span>{{ task.content | truncateName}}</span>
        
        
        <div class="btn-group" role="group">
          <button class="btn btn-danger btn-sm" (click)="deleteTask(task.id)">
            Usuń
          </button>
          
          <button class="btn btn-info btn-sm" [routerLink]="['/detail', task.id]">
            Opis
          </button>
        
          <button class="btn btn-secondary btn-sm"  data-bs-toggle="modal"
          data-bs-target="#exampleModal"  (click)="openEditModal(task)" >
            Edytuj na żywo
          </button>
         
        </div>
        
        @if (task.isDescriptionVisible) {
          <div class="task-description mt-2">
            <p>{{ task.description }}</p>
          </div>
        }
      </li>
    }
  </ul>

  <div class="d-flex justify-content-center">
    <button class="btn btn-success" [routerLink]="['./create-task']">
      Dodaj zadanie
    </button>
  </div>
</div>

<app-modal>
  <div modal-header>
    <h5 class="modal-title">Edytuj Zadanie</h5>

  </div>
  <div modal-body>
    @if (selectedTask) {
      <div>
        <label for="taskContent">Treść zadania:</label>
        <input
          id="taskContent"
          class="form-control"
          [(ngModel)]="editedContent"
        />
      </div>
      <div class="mt-3">
        <label for="taskDescription">Opis:</label>
        <textarea
          id="taskDescription"
          class="form-control"
          [(ngModel)]="editedDescription"
        ></textarea>

        <div class="mt-3">
          <label for="dueDate">Data:</label>
          <input type="date" class="form-control" id="dueDate" [(ngModel)]="editedDueDate" />
      </div>
      <div class="mt-3">
        <label for="priority">Priorytet:</label>
      
        <select class="form-select" id="taskPriority"#taskPriority>
          <option value="1">Priority 1</option>
          <option value="2">Priority 2</option>
          <option value="3">Priority 3</option>
          <option value="4">Priority 4</option>
        </select>
      </div>
      </div>
    }
  </div>
  <div modal-footer>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
    <button type="button" class="btn btn-primary" (click)="saveChanges()" data-bs-dismiss="modal">
      Zapisz zmiany
    </button>
  </div>
</app-modal>
