/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
   
    background-size: cover; /* Pokrywa całą powierzchnię tła */
    background-position: center; /* Centruje obrazek na stronie */
    background-attachment: fixed; /* Utrzymuje obrazek przy przewijaniu */
    font-family: 'Arial', sans-serif;
}
