/* Stylizacja karty szczegółów zadania */
.task-detail-card {
  max-width: 700px; /* Maksymalna szerokość karty */
  margin: 0 auto;   /* Wyśrodkowanie karty */
  padding: 20px;    /* Wewnętrzne marginesy */
  border-radius: 12px; /* Zaokrąglone rogi karty */
  background: linear-gradient(135deg, #e0f7fa, #254636); /* Gradient od błękitu do bottle green */
}

/* Nagłówek karty szczegółów zadania */
.task-detail-title {
  font-size: 1.8rem; /* Większy rozmiar czcionki dla nagłówka */
  font-weight: 700;
  color: white; /* Kolor nagłówka */
  text-align: center;
}

/* Stylizacja szczegółów zadania */
.task-detail {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1); /* Lekki przezroczysty efekt tła */
  border-radius: 10px;
}

/* Stylizacja dla każdego elementu w szczegółach zadania */
.detail-item {
  margin-bottom: 15px; /* Odstęp między poszczególnymi szczegółami */
}

.detail-label {
  font-size: 1.1rem;
  font-weight: 600;
  color: #ffffff; /* Biała czcionka dla etykiet */
}

.detail-value {
  font-size: 1rem;
  color: white; /* Zwykła czcionka dla wartości */
  padding-left: 10px;
}

/* Stylizacja tła dla poszczególnych elementów */
.detail-item p {
  margin-top: 5px;
  margin-bottom: 0;
  font-weight: 500;
}

/* Stylizacja priorytetów */
.high-priority {
  color: #d32f2f; /* Czerwony dla wysokiego priorytetu */
  font-weight: bold;
}

.medium-priority {
  color: #ff9800; /* Pomarańczowy dla średniego priorytetu */
  font-weight: bold;
}

.low-priority {
  color: #4caf50; /* Zielony dla niskiego priorytetu */
  font-weight: bold;
}

.very-low-priority {
  color: #81c784; /* Jaśniejszy zielony dla bardzo niskiego priorytetu */
  font-weight: bold;
}
.btn-light {
  padding: 12px 24px;
  font-size: 1.1rem;
  border-radius: 30px;
  background-color: #ffffff;
  color: #254636; /* Ciemniejszy zielony kolor przycisku */
  border: none;
  transition: all 0.3s ease;
}
